{% extends 'layout.html.twig' %}

{% block title %}
    Category {{ categories.name }}
{% endblock %}

{% block content %}
<section>
    <h1>Category {{ categories.name }} </h1>
    <ul>
        <li>Id : {{ categories.id }}</li>
    </ul>
    <a href='/categories'>Back to list</a>
</section>
{% endblock %}

