{% extends 'layout.html.twig' %}

{% block title %}
    <h1>Category {{ categories.title }}</h1>
{% endblock %}

{% block content %}
    <ul>
        <li>Id : {{ categories.id }}</li>
    </ul>
    <a href='/categories'>Back to list</a>
{% endblock %}

